.footer {
  background: var(--acc-1);
  padding: var(--sp-8);
  border-top: solid 1px var(--acc-2);
}

.title,
.footer {
  display: flex;
  align-items: center;
}

.title {
  gap: var(--sp);
}

.title span {
  font-family: var(--font-grotesk);
  font-size: 1.5rem;
}
