.page {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);
  background: var(--acc-1);
  padding: var(--sp-4);
  border-radius: var(--sp-2);
  border: solid 1px var(--acc-2);
}

.buttons,
.toggles {
  display: flex;
  gap: var(--sp-2);
}

.saveButton {
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: var(--sp);
}
