.url {
  background: var(--acc-2);
  border-radius: 3px;
  font-family: var(--font-mono);
  font-size: 0.65rem;
  padding: 4px;
  outline: none;
  border: none;
  cursor: copy;
}

.top {
  display: flex;
  gap: var(--sp-2);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
