.modal {
  background-color: var(--acc-1);
  border: solid var(--acc-2);
  width: 100%;
  max-width: 480px;
  padding: var(--sp-4);
  border-radius: var(--sp-2);
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
